*{margin: 0; padding: 0}


body {
    color: #1d1d21;
    width: 100%; height: 100vh;
    background: url(./images/background.png) 96% 96% no-repeat;
	background-size: cover;
	overflow-x:hidden;
     text-shadow: 0 -1px 0 #000;
    font-family: 'Microsoft Sans Serif','Helvetica','Arial', sans-serif;
}

.parrent{

}
.task{	width: 80%;
		height: 70%;
		position:absolute;
		margin-top: 5%;
		margin-left: 10%;

		 } 

.task h2 {margin:1.5rem 0 0.5rem 0;
	text-align: center;
	font-size: 6em;
}

.task p{font-size: 12rem;
		margin:0 0 0 0;
		text-align: center;
		font-weight:900;
		color: red;
}

.task h6 {margin:0.5rem 0 0.5rem 0;
	text-align: center;
	font-size: 4rem;
}

.colorBlue{color:blue}

	/*таймер*/
		#timeTable {
		    text-align: right;
		    font-size: 5rem;  /*размер счетчика!!!!!!!!!!!!!*/
		    color: #eee;
		    font-weight: bold;
		}

		#timeTable .number-wrapper {
		    margin: 0.2rem;
		    box-shadow: 0 0.1rem 0.4rem grey;
		    position: relative;
		}

		#timeTable .number {
		    display: inline-block;
			background: black;
		    border-radius: 10%;
		    background-clip: border-box;
		    padding: 0 0.2rem;
			height: 5rem;
		    line-height: 5rem;
		    text-align: center;
		    border: 4px solid #000;
		    text-shadow: 0 4px 4px grey;
		}
		       
		#timeTable .line {
		    position: absolute;
		    width: 100%;
		    height: 3px;
		    top: 49%;
		    left: 0;
		    background: #000;
		    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2);
		}
		       

	/*конец таймера*/