*{margin: 0; padding: 0}
/*div {	border: 1px solid red; }*/

body {
    color: #1d1d21;
    width: 100%; min-height: 100vh;
    background: url(./images/background.png) 96% 96% no-repeat;
	background-size: cover;
	overflow-x:hidden;
     text-shadow: 0 -1px 0 #000;
    font-family: 'Microsoft Sans Serif','Helvetica','Arial', sans-serif;

}

.parrent{}

.taskField{	width: 80%;
		height: 70%;
		position:absolute;
		margin-top: 5%;
		margin-left: 10%;
		cursor: pointer;
		 } 

.taskField h2 {margin:1.5rem 0 0.5rem 0;
	text-align: center;
	font-size: 6em;
}

.taskField p{font-size: 12rem;
		margin:0 0 0 0;
		text-align: center;
		font-weight:900;
		color: red;
}

.taskField h6 {margin:0.5rem 0 0.5rem 0;
	text-align: center;
	align-items: flex-end;
	font-size: 4rem;
}

.buttons {
	width: 100%;
	position: absolute;	
	bottom: 2%;
		}
.buttons button {font-size: 2rem;
		background: black;
		border-radius: 10%;
		color: white;
		padding: 0.2rem;
		cursor: pointer;
}

#taskButton{
	color: blue;
}

#answersButton{
	position: absolute;
	right: 0px;
	color: red;
}

.colorBlue{color:blue}

	/*таймер*/
		#timeTable {
		    text-align: right;
		    font-size: 5rem;  /*размер счетчика!!!!!!!!!!!!!*/
		    color: #eee;
		    font-weight: bold;
		    cursor: pointer;
		}

		#timeTable .number-wrapper {
		    margin: 0.2rem;
		    box-shadow: 0 0.1rem 0.4rem grey;
		    position: relative;
		}

		#timeTable .number {
		    display: inline-block;
			background: black;
		    border-radius: 10%;
		    background-clip: border-box;
		    padding: 0 0.2rem;
			height: 5rem;
		    line-height: 5rem;
		    text-align: center;
		    border: 4px solid #000;
		    text-shadow: 0 4px 4px grey;
		}
		       
		#timeTable .line {
		    position: absolute;
		    width: 100%;
		    height: 3px;
		    top: 49%;
		    left: 0;
		    background: #000;
		    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2);
		}
		       

	/*конец таймера*/